* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.hamburger-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}



.hamburger {
    
    cursor: pointer;

}

.bar {
    display: block;
    width: 80px;
    height: 7px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(39, 38, 38);
}


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(17px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-17px) rotate(-45deg);
    }

















